
body,html {
	 width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(engagement.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

nav {
	background-color: rgba(0,0,230,.5);
	border: solid pink;
	padding: 20px 20px;
	margin: 20px 20px;
}

h1 {
	background-color: hotpink;
	text-align: center;

}

.links {
	list-style: none;
	display: inline;
}

p, #div2 {
	line-height: 100px;
    font-style: italic;
    font-weight: bold;
    font-size: 200%;
    font-family: 'Oswald', sans-serif;

}

#div1 {
	list-style: none;

}

.robots {
	display: flex;
	justify-content: flex-end;
	

}

.head, 
.left_arm, 
.torso, 
.right_arm, 
.left_leg, 
.right_leg {
	 background-color: #B20E0A;
}

.head, .upper_body { 
	width: 200px; 
	margin: 0 auto; 
	height: 150px; 
	border-radius: 200px 200px 0 0; 
	margin-bottom: 10px;
} 


.head:hover {
	width: 300px;
    transition: 1s ease-in-out;
    background-color: #B20E0A;
}

.upper_body { 
	width: 300px; 
	height: 150px;
	display: flex; 
	align-self: center;
} 

.left_arm, .right_arm { 
	width: 40px; 
	height: 125px;
	border-radius: 100px; 
} 

.left_arm { 
	margin-right: 10px; 
	display: flex;
	justify-content: flex-end;
} 

.right_arm { 
	margin-left: 10px; 
} 

.torso { 
	width: 200px; 
	height: 200px;
	border-radius: 0 0 50px 50px; 
} 

.lower_body { 
	width: 200px; 
	height: 100px;
	/* This is another useful property. Hmm what do you think it does?*/
	margin: 0 auto;

} 

.left_leg, .right_leg { 
	width: 40px; 
	height: 120px;
	border-radius: 0 0 100px 100px; 
} 

.left_leg { 
	margin-left: 45px; 
} 

.left_leg:hover {
	-webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
}

.right_leg { 
	margin-left: 120px;
	position: relative;
	bottom: 120px;
	
}

.right_leg:hover {
	-webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
    cursor: pointer;


}
.left_eye, .right_eye { 
	width: 30px; 
	height: 30px; 
	border-radius: 15px; 
	background-color: white;  
} 

.left_eye { 
	/* These properties are new and you haven't encountered
	in this course. Check out CSS Tricks to see what it does! */
	position: relative; 
	top: 100px; 
	left: 50px; 
} 

.right_eye { 
	position: relative; 
	top: 70px; 
	left: 130px; 

}
